.event-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.image-container {
    position: relative;
    width: 400px;
    height: 250px;

}

.event-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.event-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.read-article-button,
.share-button {
    padding: 6px 8px;
    border-radius: 100%;
    background-color: rgba(188, 151, 112, 1);
    color: black;
}

.button-icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.event-title {
    align-self: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.archive-title {
    margin-top: 8%;
    font-size: 2.5rem;
    color: #013e5e;
    text-align: center;  
  }
  
  .archive-description {
    color: gray;
    text-align: center;  
    margin-left: 25%;
    margin-right: 25%;
  }