.footer {
  display: flex;

  background-color: #000;
  color: #fff;
  text-align: left;
  padding: 20px;
  background-color: #013E5E; /* Footer background color */

  width: 100vw; /* Ensure it takes the full width of the viewport */
  position: relative;  /* Keeps footer within content flow */
  left: 0; /* Aligns it to the left edge */
  bottom: 0; /* Push it to the bottom */
  box-sizing: border-box; /* Ensures padding is included in the width */
  justify-content: space-evenly;
  padding-bottom: 50px;
  padding-top: 40px;
  padding-left: 40px;
}



.footer-section {
  flex: 1; /* Make each section take up equal space */
  min-width: 200px; /* Set a minimum width to prevent them from being too small */
  text-align: left; /* Ensure the text inside each section is left-aligned */
  padding: 10px;
  margin: 40px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 15px;
  padding-top: 20px;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
}


.footer-section {
  flex: 1; /* Make each section take up equal space */
  min-width: 200px; /* Set a minimum width to prevent them from being too small */
  text-align: left; /* Ensure the text inside each section is left-aligned */
  padding: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 15px;
  padding-top: 20px;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
  color: #ffffff;
  line-height: normal;
}

.footer-logo .logo {
  padding-left: 0;
  height: 50px;
  padding-top: 25px;
}

.social-link {
  display: flex;
  align-items: center; /* Vertically align the image and text */
  margin-bottom: 5px; /* Adds space between the items */
  text-decoration: none;
}

.social-icon {
  padding-left: 0px;
  margin-left: 0px;
  height: 30px;
}


.social-text {
  font-size: 14px;
  color: #fff;
  line-height: 2;
  padding-left: 10px;
}

.social-link:hover .social-text {
  text-decoration: underline; /* Add underline effect on hover */
}