/* Footer styles */
.footer {
    background-color: #000;
    color: #fff;
    text-align: left;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1;
    width: 100vw; /* Ensure it takes the full width of the viewport */
    position: relative;  /* Keeps footer within content flow */
    left: 0; /* Aligns it to the left edge */
    bottom: 0; /* Push it to the bottom */
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
  /* Footer paragraph links */
  .footer p {
    margin: 5px 50px; /* Adjust margin for better layout */
  }
  
  .page-container > .main-content {
    flex-grow: 1; /* Main content takes up the remaining space */
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .footer {
      padding: 15px;
      font-size: 14px;
    }
  
    .footer p {
      margin: 5px 20px;
    }
  }
  
  /* Media query for very small screens (e.g., phones) */
  @media (max-width: 480px) {
    .footer {
      padding: 10px;
      font-size: 12px;
    }
  
    .footer p {
      margin: 5px 10px;
      word-wrap: break-word; /* Ensure text doesn't overflow */
    }
  }
  