.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;  
  justify-items: center;
  align-items: center;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.history-title {
  margin-top: 7%;
  font-size: 2.5rem;
  color: #013e5e;
  text-align: center;  
}

.team-section {
  color: #013e5e;
  text-align: center;  
  border-radius: 30px; /* Rounded corners */
background-color: #f5f5f3;
padding: 80px;
margin-top: 80px;

}

.team-title {
  font-size: 2.5rem;
  color: #013e5e;
  text-align: center;  
}

.team-description {
  color: gray;
  text-align: center;  
  margin-left: 25%;
  margin-right: 25%;
}

.team-member {
  text-align: center;
}

.team-member .image1 {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member h2 {
  color: black;
  font-size: 1.2rem;
  margin: 10px 0;
}

.team-member h1 {
  color: gray;
  font-size: 1rem;
  margin: 5px 0;
}
